@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- recolher os dados dos parâmetros da equações do 2º grau -->
<form>
    <div>
        <p>Escreva os parâmetros da equação:</p>
        A = <input type="text"/>    <br />
        B = <input type="text"/>   <br />
        C = <input type="text"/>   <br />

        <input type="submit" value="Calcular"/>
    </div>
</form>